/* 2017-11-17 08:24:54 | 修改 木遥（QQ：346819890） */

.map {
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    min-width: 200px;
    min-height: 200px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #eee;
}

.map_print {
    position: absolute;
    top: 50px;
    bottom: 35px;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 200px;
    min-height: 200px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #eee;
}

.map_print_title {
    position: absolute;
    width: 100%;
    top: 5px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}

.map_print_foot {
    position: absolute;
    width: 100%;
    bottom: 5px;
    font-size: 14px;
    color: #808080;
    text-align: center;
}

/** 左下角，鼠标经纬度提示 */
.location-bar {
    position: absolute;
    z-index: 999;
    left: 100px;
    bottom: 2px;
    font-size: 14px;
    white-space: nowrap;
    color: #333;
    text-shadow: #edeaea 1px 0 0, #edeaea 0 1px 0, #edeaea -1px 0 0,
        #edeaea 0 -1px 0;
}

.location-bar div {
    float: left;
    margin-right: 15px;
}

/*图上目标-定位效果*/

/**动画点*/
.centerat_animation,
.centerat_animation p,
.centerat_animation:before,
.centerat_animation:after,
.centerat_animation p:before,
.centerat_animation p:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.centerat_animation {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    color: cyan;
    background: currentColor;
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    box-shadow: 0 0 2em currentColor, 0 0 0.5em currentColor;
}

.centerat_animation.mapError {
    color: red;
}

.centerat_animation.mapWarn {
    color: #b5a603;
}

.centerat_animation.mapSuccess {
    color: #239233;
}

.centerat_animation.mapOrange {
    color: #8c4d34;
}

.centerat_animation:before,
.centerat_animation:after,
.centerat_animation p:before,
.centerat_animation p:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.centerat_animation:before,
.centerat_animation:after {
    border: solid 1px currentColor;
    left: 50%;
    top: 50%;
    -webkit-animation: centerat_animation 1s ease infinite;
    -moz-animation: centerat_animation 1s ease infinite;
    -o-animation: centerat_animation 1s ease infinite;
    -ms-animation: centerat_animation 1s ease infinite;
    animation: centerat_animation 1s ease infinite;
}

.centerat_animation p:before {
    border: solid 1px currentColor;
}

.centerat_animation p {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    -webkit-animation: centerat_animation 2s ease infinite;
    -moz-animation: centerat_animation 2s ease infinite;
    -o-animation: centerat_animation 2s ease infinite;
    -ms-animation: centerat_animation 2s ease infinite;
    animation: centerat_animation 2s ease infinite;
}

@-webkit-keyframes centerat_animation {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
        filter: alpha(opacity: 1);
    }

    25% {
        width: 12px;
        height: 12px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0.7;
        filter: alpha(opacity: 70);
    }

    50% {
        width: 20px;
        height: 20px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0.5;
        filter: alpha(opacity: 50);
    }

    75% {
        width: 30px;
        height: 30px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0.2;
        filter: alpha(opacity: 20);
    }

    100% {
        width: 40px;
        height: 40px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        filter: alpha(opacity: 0);
    }
}

@-moz-keyframes centerat_animation {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
        filter: alpha(opacity: 1);
    }

    25% {
        width: 12px;
        height: 12px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0.7;
        filter: alpha(opacity: 70);
    }

    50% {
        width: 20px;
        height: 20px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0.5;
        filter: alpha(opacity: 50);
    }

    75% {
        width: 30px;
        height: 30px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0.2;
        filter: alpha(opacity: 20);
    }

    100% {
        width: 40px;
        height: 40px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        filter: alpha(opacity: 0);
    }
}

@-o-keyframes centerat_animation {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
        filter: alpha(opacity: 1);
    }

    25% {
        width: 12px;
        height: 12px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0.7;
        filter: alpha(opacity: 70);
    }

    50% {
        width: 20px;
        height: 20px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0.5;
        filter: alpha(opacity: 50);
    }

    75% {
        width: 30px;
        height: 30px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0.2;
        filter: alpha(opacity: 20);
    }

    100% {
        width: 40px;
        height: 40px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        filter: alpha(opacity: 0);
    }
}

@-ms-keyframes centerat_animation {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
        filter: alpha(opacity: 1);
    }

    25% {
        width: 12px;
        height: 12px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0.7;
        filter: alpha(opacity: 70);
    }

    50% {
        width: 20px;
        height: 20px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0.5;
        filter: alpha(opacity: 50);
    }

    75% {
        width: 30px;
        height: 30px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0.2;
        filter: alpha(opacity: 20);
    }

    100% {
        width: 40px;
        height: 40px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        filter: alpha(opacity: 0);
    }
}

@keyframes centerat_animation {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
        filter: alpha(opacity: 1);
    }

    25% {
        width: 12px;
        height: 12px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0.7;
        filter: alpha(opacity: 70);
    }

    50% {
        width: 20px;
        height: 20px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0.5;
        filter: alpha(opacity: 50);
    }

    75% {
        width: 30px;
        height: 30px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0.2;
        filter: alpha(opacity: 20);
    }

    100% {
        width: 40px;
        height: 40px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        filter: alpha(opacity: 0);
    }
}

.leaflet-text-marker {
    white-space: nowrap;
    font-size: 13px;
    color: #333;
    text-shadow: #edeaea 1px 0 0, #edeaea 0 1px 0, #edeaea -1px 0 0,
        #edeaea 0 -1px 0;
}

.leaflet-popup-content-wrapper {
    border-radius: 3px;
}

.mars-popup-titile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 3px 0 0 3px;
    padding: 0 80px 0 20px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    color: white;
    background-color: #20a0ff;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.mars-popup-content {
    min-width: 150px;
    margin-top: 52px;
    font-size: 14px;
}

.mars-popup-content label {
    margin: 0 10px;
    min-width: 50px;
}

.mars-popup-content > div {
    margin-top: 5px;
}

.leaflet-measuretool-result {
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid transparent;
    -webkit-border-radius: 2px;
    border-radius: 4px;
    font-size: 12px;
    padding: 1px 2px;
    white-space: nowrap;
}

.leafletlayer-tooltip {
    font-size: 15px;
    text-align: center;
}
